$icons: (
  x: '\e900',
  home: '\e901',
  www: '\e902',
  phone: '\e903',
  place: '\e904',
  remove: '\e905',
  logout: '\e906',
  edit: '\e907',
  ruble: '\e908',
  save: '\e909',
  cogs: '\e90a',
  image: '\e90b',
  settings: '\e90c',
  contacts: '\e90d',
  socials: '\e90e',
  partners: '\e90f',
  greetings: '\e910',
  events: '\e911',
  discount: '\e912',
  users: '\e913',
  user: '\e914',
  search: '\e917',
  upload: '\e916',
  download: '\e915',
  trash: '\e918'
);
